{% extends "base.html" %}

{% block page_content %}
<h1> <center> Register Form </center></h1>
<h5> <center> Choose your role first, then fill the form </center></h5>
<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'users:myregister' %}">Admin Apotek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'users:mykonsumenform' %}">Konsumen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'users:mykurirform' %}">Kurir</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'users:mycsform' %}">CS</a>
          </li>
      </ul>
    </div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4 ">
        <p class="tulisan_login"><h4><center>Register as Konsumen</center></h4></p>
      <form action="{% url 'users:mykonsumenform' %}" method="POST">
        {% csrf_token %}
        <div class="form-group .justify-content-start ">
          <label for="exampleInputEmail1">Email address</label>
          {{ form.email }}
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          {{ form.password }}
        </div>

        <div class="form-group">
          <label for="validationDefault01">Nama lengkap</label>
          {{ form.nama_lengkap }}
        </div>

        <div class="form-group">
          <label for="validationDefault02">No Telepon</label>
          {{ form.no_telepon }}
        </div>

        <div class="form-group">
          <label for="validationDefault02">Jenis Kelamin</label>
          {{ form.jenis_kelamin }}
        </div>

        <div class="form-group">
          <label for="validationDefault02">Tanggal Lahir</label>
          {{ form.tgl_lahir }}
        </div>
        
        <div class="form-group">
          <label for="validationDefault02">Alamat</label>
          <button type="button" class="btn bg-warning " onclick="addAlamat()">+</button>
          <div class="form-group" id="daftar-alamat">
            {{ form.status_alamat1 }}
            {{ form.alamat1 }}
            {{ form.status_alamat2 }}
            {{ form.alamat2 }}
            {{ form.status_alamat3 }}
            {{ form.alamat3 }}
          </div>
        </div>

        <button type="submit" class="btn btn-primary  btn-am">Sign Up</button>
      </form>
      </div>
    </div>
  </div>
  <script>
    function addAlamat(e){
      const div = document.createElement('input');
      div.className = "form-control inputAlamat";
      div.innerHTML = `
      <input id="validationDefault02" type="text" class="form-control" placeholder="Alamat">
      `;
      document.getElementById("daftar-alamat").appendChild(div);
      }
  </script>


{% endblock %}