{% extends "base.html" %}

{% block page_content %}
<h1> <center> Register Form </center></h1>
<h5> <center> Choose your role first, then fill the form </center></h5>
<div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link " href="{% url 'users:myregister' %}">Admin Apotek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="{% url 'users:mykonsumenform' %}">Konsumen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="{% url 'users:mykurirform' %}">Kurir</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'users:mycsform' %}">CS</a>
          </li>
      </ul>
    </div>
    <div class="card-body form_bg_color ">
      <div class="outer-form container form-column col-md-4  ">
        <p class="tulisan_login"><h4><center>Register as Kurir</center></h4></p>
      <form action="{% url 'users:mykurirform' %}" method="POST">
          {% csrf_token %}
          <div class="form-group .justify-content-start ">
            <label for="exampleInputEmail1">Email address</label>
            {{ form.email }}
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {{ form.password }}
          </div>

          <div class="form-group">
            <label for="validationDefault01">Nama lengkap</label>
            {{ form.nama_lengkap }}
          </div>

          <div class="form-group">
            <label for="validationDefault02">No Telepon</label>
            {{ form.no_telepon }}
          </div>

          <div class="form-group">
            <label for="validationDefault02">Nama Perusahaan</label>
            {{ form.nama_perusahaan }}
          </div>
          
          <button type="submit" class="btn btn-primary  btn-am">Sign Up</button>
      </form>
      </div>
    </div>
  </div>

{% endblock %}