{% extends "base.html" %}


{% block style_content %}
<style>
    body{
        background-color: #dc3545;
    }

    .divlogin{
        margin-top: 80px;
    }
</style>
{% endblock %}

{% block page_content %}


<div class="outer-form divlogin container form-column col-md-4 ">
    <p class="tulisan_login"><h2><center>LOGIN</center></h4></p>
  <form action="{% url 'users:mylogin' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      {{ form.email }}
     
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      {{ form.password }}
    </div>
    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <!-- <button type="submit" class="btn btn-primary  btn-am">Login</button> -->
    <!-- <a href="{% url 'profilpengguna:profil' %}" ><button type="submit" class="btn btn-primary btn-am">Login</button></a> -->
    <input class="btn btn-primary" type="submit" value="Log in">
    
    
  </form>
</div>
{% endblock %}
