{% extends "base.html" %}

{% block style_content %}

{% endblock %}

{% block page_content %}
<h1 > <center>Form Balai Pengobatan</center></h1>

<div class="outer-form form-column container col-md-4 ">
    <p class="tulisan_login"><h4><center>Form Create Balai Pengobatan</center></h4></p>
<form method="POST" action="/balai-pengobatan/buatbp/">
    {% csrf_token %}
    <div class="form-group">
        <label for="validationDefault01">Alamat balai</label>
        <input type="text" class="form-control " id="validationDefault01" name="alamatb" placeholder="Alamat balai" required>
    </div>
    <div class="form-group">
        <label for="validationDefault02">Nama balai</label>
        <input type="text" class="form-control " id="validationDefault02" name="namab" placeholder="Nama balai" required>
    </div>
    <div class="form-group">
        <label for="validationDefault03">Jenis balai</label>
        <input type="text" class="form-control " id="validationDefault03" name="jenisb" placeholder="Jenis balai" required>
    </div>
    <div class="form-group">
        <label for="validationDefault04">Telepon balai</label>
        <input type="text" class="form-control " id="validationDefault04" name="telpb" placeholder="Telepon balai" >
    </div>
    <div class="form-group">
        <label for="validationDefault05">Daftar ID apotek berasosiasi</label>
        <!--<button type="button" class="btn bg-warning " onclick="addIDApotekBerasosiasi()">+</button>
        <div class="form-group" id="daftar-id">
        <select class="form-control dropdown-id" name="idb" required>
            {% for id in data_id_apotek %}
            <option> {{ id.id_apotek }} </option>
            {% endfor %}
        </select>-->

        <div class="form-check ">
            <div id="daftar-id-apotek">
                {% for id in data_id_apotek %}
                <p><input type="checkbox"  name="idap" value="{{ id.id_apotek }}" > {{ id.id_apotek }} ({{ id.nama_apotek }})</p>
                <!--<label class="form-check-label" for="daftar-id-apotek"> {{ id.id_apotek }}</label>-->
                {% endfor %}
            </div>
              <!--
            {% for id in data_id_apotek %}
            <input class="form-check-input" type="checkbox" value="" id="daftar-id-apotek" name="idap">
            <label class="form-check-label" for="daftar-id-apotek">
            {{ id.id_apotek }}
            </label>
            <br>
            {% endfor %}-->
        </div>
        

    </div>
    {% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</p>
    {% endfor %}
    {% endif %}
    <button type="submit" class="btn btn-primary  btn-am">Submit</button>
  </form>
</div>
<script>
    function addIDApotekBerasosiasi(e){
      const div = document.createElement('select');
      div.className= "form-control dropdown-id";
      div.innerHTML= `
        <select class="form-control">
            {% for id in data_id_apotek %}
            <option> {{ id.id_apotek }} </option>
            {% endfor %}
        </select>
      `;
      document.getElementById("daftar-id").appendChild(div);
    }
  </script>
  
  
{% endblock %}
{% block script_content %}

<script>
// Material Select Initialization
$(document).ready(function() {
$('.mdb-select').materialSelect();
});

</script>
{% endblock %}

