{% extends "base.html" %}

{% block style_content %}
<style>
    .tabelmargin{
        padding: 32px;
    }
</style>
{% endblock %}

{% block page_content %}
<h1 > <center> Daftar Balai Pengobatan </center></h1>
<br>
{% if messages %}
<div >
    {% for message in messages %}
    <center><h5{% if message.tags %} class="{{ message.tags }} text-danger"{% endif %}>{{ message }}</h5></center>
    {% endfor %}
  </div>
{% endif %}
<div class="tabelmargin table-responsive ">
<table class="table justify-content-center">
    <thead class="bg-danger text-white align-items-center">
      <tr>
        <th scope="col">ID Balai</th>
        <th scope="col">Alamat Balai</th>
        <th scope="col">Nama Balai</th>
        <th scope="col">Jenis Balai</th>
        <th scope="col">No Telepon Balai</th>
        <th scope="col">Apotek yang berasosiasi</th>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for balai in data_balai_pengobatan %}
			<tr>
				<td>{{ balai.id_balai }}</td>
				<td>{{ balai.alamat_balai }}</td>
				<td>{{ balai.nama_balai }}</td>
				<td>{{ balai.jenis_balai }}</td>
        <td>{{ balai.telepon_balai }}</td>
        <td>
          <ul>
              {% for na in balai.nama_apotek %}
              <li>{{ na }}</li>
              {% endfor %}
          </ul>
        </td>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <td>
          
          <button class="btn btn-primary btn-am bg-success updatebp"
          id-balai="{{ balai.id_balai }}"
          alamat-balai="{{ balai.alamat_balai }}"
          nama-balai="{{ balai.nama_balai }}"
          jenis-balai="{{ balai.jenis_balai}}"
          telepon-balai="{{ balai.telepon_balai }}"
          nama-apotek="{{ balai.nama_apotek }}" 
          >Update</button>
         
         
          <div class="modal fade" id="update-bp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Form Update Balai Pengobatan</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/" id="form-updatebp">
                      {% csrf_token %}
                        <div class="form-group">
                            <label for="id-balai">ID balai</label>
                            <input type="text" class="form-control " id="id-balai"  name="bp-id-balai" placeholder="ID Balai" disabled >
                        </div>
                        <div class="form-group">
                            <label for="alamat-balai">Alamat balai</label>
                            <input type="text" class="form-control " id="alamat-balai" name="bp-alamat-balai" placeholder="Alamat balai" required>
                        </div>
                        <div class="form-group">
                            <label for="nama-balai">Nama balai</label>
                            <input type="text" class="form-control " id="nama-balai" name="bp-nama-balai" placeholder="Nama balai" required>
                        </div>
                        <div class="form-group">
                            <label for="jenis-balai">Jenis balai</label>
                            <input type="text" class="form-control " id="jenis-balai" name="bp-jns-balai" placeholder="Jenis balai" required>
                        </div>
                        <div class="form-group">
                            <label for="telp-balai">Telepon balai</label>
                            <input type="text" class="form-control " id="telp-balai" name="bp-telp-balai" placeholder="Telepon balai">
                        </div>
                        <div class="form-group">
                            <label for="id-apotek">Daftar ID apotek berasosiasi</label>
                            <div class="form-check ">
                              <div id="daftar-id-apotek">
                                  {% for id in data_id_apotek %}
                                  <p><input type="checkbox"  name="bp-id-apotek" value="{{ id.id_apotek }}" > {{ id.id_apotek }} ({{ id.nama_apotek }})  </p>
                                  {% endfor %}
                              </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn bg-success btn-primary ">Submit</button>
                        </div>
                      </form>
                </div>
                
              </div>
            </div>
          </div>
          <a href="/balai-pengobatan/deletebp/{{ balai.id_balai }}">
          <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
          </a>
      </td>
      {% endif %}
			</tr>
		{% endfor %}
      <!--
      <tr>
        <th scope="row">1</th>
        <td>Jalan Margonda Raya no 123</td>
        <td>Balai Gema Insani</td>
        <td>Balai Pengobatan Umum</td>
        <td>0812345678</td>
        <td><ul>
            <li>Farmakami</li>
            <li>Farmakita</li>
            <li>Farmakamu</li>
            <li>Farmaaku</li>
          </ul>
        <td>-->
            
            <!--<button type="button" class="btn btn-primary btn-am bg-success" data-toggle="modal" data-target="#exampleModalLong">Update</button>
            
            
            <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
            
        </td>
      </tr>-->
      
      
    </tbody>
  </table>
</div>

{% endblock %}

{% block script_content %}

<script>
  $('.updatebp').click(function(){
    $('#update-bp').modal();
  var idbal = $(this).attr('id-balai')
  var abal = $(this).attr('alamat-balai')
  var nbal = $(this).attr('nama-balai')
  var jbal = $(this).attr('jenis-balai')
  var tbal = $(this).attr('telepon-balai')
  var nap = $(this).attr('nama-apotek')
  
  $('#form-updatebp').attr('action', '/balaipengobatan/updatebp/'+idbal)
  $('#id-balai').val(idbal)
  $('#alamat-balai').val(abal)
  $('#nama-balai').val(nbal)
  $('#jenis-balai').val(jbal)
  $('#telp-balai').val(tbal)
  $('#id-apotek').val(nap)
  })

</script>
{% endblock %}
