{% extends "base.html" %}

{% block style_content %}
<style>
    body{
        background-color: #dc3545;
    }
</style>
{% endblock %}

{% block page_content %}
<h1 class="text-white"> <center> Balai Pengobatan Form </center></h1>

<div class="outer-form form-column col-4 ">
    <p class="tulisan_login"><h4><center>Update Balai Pengobatan</center></h4></p>
<form>
    <div class="form-group">
        <label for="disabledTextInput">ID balai</label>
        <input type="text" class="form-control " id="disabledTextInput" placeholder="1" disabled>
    </div>
    <div class="form-group">
        <label for="validationDefault02">Alamat balai</label>
        <input type="text" class="form-control " id="validationDefault02" placeholder="Alamat balai">
    </div>
    <div class="form-group">
        <label for="validationDefault03">Nama balai</label>
        <input type="text" class="form-control " id="validationDefault03" placeholder="Nama balai">
    </div>
    <div class="form-group">
        <label for="validationDefault04">Jenis balai</label>
        <input type="text" class="form-control " id="validationDefault04" placeholder="Jenis balai">
    </div>
    <div class="form-group">
        <label for="validationDefault05">Telepon balai</label>
        <input type="text" class="form-control " id="validationDefault05" placeholder="Telepon balai">
    </div>
    <div class="form-group">
        <label for="validationDefault05">Daftar ID apotek berasosiasi</label>
        <select class="form-control">
            <option>2</option>
            <option>10</option>
        </select>
    </div>
    
    <button type="button" class="btn btn-primary  btn-am bg-secondary ">Back</button>
    <button type="submit" class="btn btn-primary  btn-am">Submit</button>
  </form>
</div>
{% endblock %}