{% extends "base.html" %}

{% block page_content %}
<body>
    <div class=" outer-form d-flex align-items-center flex-column">
        <h2><center>FORM PEMBUATAN TRANSAKSI PEMBELIAN</center></h2>
        <form action="{% url 'transaksipembelian:create-transaksipembelian' %}" class=" text-center" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input action="POST" type="submit" value= "Create" class="btn btn-success mt-3">
        </form>
    </div>
</body>
{% endblock %}