{% extends "base.html" %}

{% block page_content %}
<div class="container">
    <h2><center>DAFTAR TRANSAKSI PEMBELIAN</center></h2>
</div>
{% if request.session.role == "ADMIN_APOTEK" %}
<center>
<a href="/transaksipembelian/create-transaksipembelian/">
    <button type="button" class="btn btn-success ">Buat Transaksi Pembelian</button>
</a>
</center>
{% endif %}
<div class="mt-2 mx-5 my-5">
    <table class="table table-hover">
        <thead class="bg-danger text-white align-items-center;">
            <tr>
                <th>ID Transaksi</th>
                <th>Waktu Pembelian</th>
                <th>Total Pembayaran</th>
                <th>ID Konsumen</th>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <th>Action</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>

            {% for transaksipembelian in data_transaksipembelian %}
            <tr>
                <td>{{ transaksipembelian.id_transaksi_pembelian }}</td>
                <td>{{ transaksipembelian.waktu_pembelian }}</td>
                <td>{{ transaksipembelian.total_pembayaran }}</td>
                <td>{{ transaksipembelian.id_konsumen }}</td>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <td>
                    

                    <button class = "btn btn-primary btn-am bg-success update" 
                    id-transaksi = "{{ transaksipembelian.id_transaksi_pembelian }}"
                    waktu-pembelian = "{{ transaksipembelian.waktu_pembelian }}"
                    total-pembayaran = "{{ transaksipembelian.total_pembayaran }}"
                    id-konsumen = "{{ transaksipembelian.id_konsumen }}"
                    > Update </button>
                    <div class="modal fade" id="update-transaksipembelian" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Form Update Transaksi Pembelian</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/" id="form-update">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="disabledTextInput">ID Transaksi</label>
                                        <input type="text" class="form-control " id="id-transaksi" name="u-id-transaksi" disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledTextInput">Waktu Pembelian</label>
                                        <input type="text" class="form-control " id="waktu-transaksi" name="u-waktu-transaksi"  disabled>
                                    </div>
                                    <div class="form-group">
                                        <label for="disabledTextInput">Total Pembayaran</label>
                                        <input type="text" class="form-control " id="total-pembayaran" name="u-total-pembayaran"  disabled>
                                    </div>
                                   
                                    <div class="form-group">
                                        <label for="validationDefault01">ID Konsumen</label>
                                        <select class="form-control" id="id-konsumen" name="u-id-konsumen"  required>
                                          <option> kd01 </option>
                                          <option> kd02 </option>
                                          <option> kd03 </option>
                                          <option> kd04 </option>
                                          <option> kd05 </option>
                                        </select>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        
                                        <button type="submit" class="btn bg-success btn-primary ">Submit</button>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                    </div>
                </div>  
                 <a href="/transaksipembelian/delete-transaksipembelian/{{ transaksipembelian.id_transaksi_pembelian }}">
                    <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                </a> 
                </td>
                {% endif %}
            </tr>

            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block script_content %}

  
<script>
  $('.update').click(function(){
    $('#update-transaksipembelian').modal();
  var idtransaksipembelian = $(this).attr('id-transaksi')
  var waktu = $(this).attr('waktu-pembelian')
  var total = $(this).attr('total-pembayaran')

  
  $('#form-update').attr('action', '/transaksipembelian/update-transaksipembelian/'+idtransaksipembelian)
  $('#id-transaksi').val(idtransaksipembelian)
  $('#waktu-transaksi').val(waktu)
  $('#total-pembayaran').val(total)

  })

</script>
{% endblock %}
