{% extends "base.html" %}

{% block style_content %}

{% endblock %}

{% block page_content %}
<h1><center>Form Produk Apotek</center></h2>
  <div class="outer-form form-column col-4 ">
    <p class="tulisan_login"><h4><center>Form Create Produk Apotek</center></h4></p>
 
    <form method="POST" action="/produkapotek/create-produkapotek/">
      {% csrf_token %}
      <div class="form-group">
        <label for="validationDefault05">ID Produk</label>
          <select class="form-control dropdown-id" name="id_produk" required>
            {% for id in data_id_produk %}
            <option> {{ id.id_produk}} </option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="validationDefault05">ID Apotek</label>
          <select class="form-control dropdown-id" name="id_apotek" required>
            {% for id in data_id_apotek %}
            <option> {{ id.id_apotek}} </option>
            {% endfor %}
          </select>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Harga Jual</label>
        <input type="text" class="form-control " name="harga_jual" id="validationDefault01" placeholder="Harga Jual" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Satuan Penjualan</label>
        <input type="text" class="form-control " name="satuan_penjualan" id="validationDefault01" placeholder="Satuan Penjualan" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Stok</label>
        <input type="text" class="form-control " id="validationDefault01" name="stok" placeholder="Stok" required>
      </div>

      <button type="submit" class="btn btn-primary  btn-am">Submit</button>
     
  </form>
</div>

{% endblock %}