{% extends "base.html" %}

{% block style_content %}
<style>
    .tabelmargin{
        padding: 32px;
    }
</style>
{% endblock %}

{% block page_content %}
<h2><center>Daftar Produk Apotek</center></h2>
<div class="tabelmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">ID Produk</th>
                <th scope="col">ID Apotek</th>
                <th scope="col">Harga Jual</th>
                <th scope="col">Satuan Penjualan</th>
                <th scope="col">Stok</th>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <th scope="col">Action [ADMIN]</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
          {% for pa in data_produk_apotek %}
            <tr>
                <td>{{ pa.id_produk }}</td>
                <td>{{ pa.id_apotek }}</td>
                <td>{{ pa.harga_jual }}</td>
                <td>{{ pa.satuan_penjualan }}</td>
                <td>{{ pa.stok }}</td>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <td>
                  <button class="btn btn-primary btn-am bg-success update" 
                  id_produk="{{ pa.id_produk }}"
                  id_apotek="{{ pa.id_apotek }}"
                  harga_jual="{{ pa.harga_jual }}"
                  satuan_penjualan="{{ pa.satuan_penjualan }}"
                  stok="{{ pa.stok }}"
                  >Update</button>
                  <div class="modal fade" id="update-produkapotek" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLongTitle">Form Update Apotek</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="/" id="form-update">
                            {% csrf_token %}

                            <div class="form-group">
                              <label for="validationDefault05">ID Produk</label>
                                <select class="form-control dropdown-id" id=id_produk name="pa-id-produk" required>
                                  <option> pdd01 </option>
                                  <option> pdd02 </option>
                                  <option> pdd03 </option>
                                  <option> pdd04 </option>
                                  <option> pdd05 </option>
                                  <option> pdd06 </option>
                                  <option> pdd07 </option>
                                  <option> pdd08 </option>
                                  <option> pdd09 </option>
                                  <option> pdd10 </option>
                                  <option> pdd11 </option>
                                  <option> pdd12 </option>
                                  <option> pdd13 </option>
                                  <option> pdd14 </option>
                                  <option> pdd15 </option>
                                  <option> pdd16 </option>
                                  <option> pdd17 </option>
                                  <option> pdd18 </option>
                                  <option> pdd19 </option>
                                  <option> pdd20 </option>
                                </select>
                            </div>
                            <div class="form-group">
                              <label for="validationDefault05">ID Apotek</label>
                                <select class="form-control dropdown-id" id="id_apotek" name="pa-id-apotek" required>
                                  {% for id in data_id_apotek %}
                                  <option> {{ id.id_apotek}} </option>
                                  {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                              <label for="validationDefault01">Harga Jual</label>
                              <input type="text" class="form-control " name="pa-harga-jual" id="harga_jual" placeholder="Harga Jual" required>
                            </div>
                            <div class="form-group">
                              <label for="validationDefault01">Satuan Penjualan</label>
                              <input type="text" class="form-control " name="pa-satuan-penj" id="satuan_penjualan" placeholder="Satuan Penjualan" required>
                            </div>
                            <div class="form-group">
                              <label for="validationDefault01">Stok</label>
                              <input type="text" class="form-control " id="stok" name="pa-stok" placeholder="Stok" required>
                            </div>
                            
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                              
                              <button type="submit" class="btn bg-success btn-primary ">Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="/produkapotek/deletepa/{{ pa.id_produk }}/{{ pa.id_apotek }}">
                    <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                  </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block script_content %}

<script>
    $('.update').click(function(){
      $('#update-produkapotek').modal();
    var idpro = $(this).attr('id_produk')
    var idapo = $(this).attr('id_apotek')
    var hargaval = $(this).attr('harga_jual')
    var satuanval = $(this).attr('satuan_penjualan')
    var stokval = $(this).attr('stok')
    
    $('#form-update').attr('action', '/produkapotek/updatepa/'+idpro'/'+idapo)
    $('#id_produk').val(idpro)
    $('#id_apotek').val(idapo)
    $('#harga_jual').val(hargaval)
    $('#satuan_penjualan').val(satuanval)
    $('#stok').val(stokval)
    })

  </script>

{% endblock %}