{% extends "base.html" %}

{% block style_content %}
<style>
    body{
        background-color: #dc3545;
    }
</style>
{% endblock %}

{% block page_content %}
<h1><center>Form Produk Apotek</center></h1>
 
<div class="outer-form form-column col-4 ">
    <p class="tulisan_login"><h4><center>Update Produk Apotek</center></h4></p>
  <form>
    <div class="form-group">
        <label for="validationDefault05">ID Produk</label>
        <div class="form-group" id="idproduk">
          <select class="form-control dropdown-id">
              <option>Pilih...</option>
              <option>...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="validationDefault05">ID Apotek</label>
        <div class="form-group" id="idapotek">
          <select class="form-control dropdown-id">
              <option>Pilih...</option>
              <option>...</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Harga Jual</label>
        <input type="text" class="form-control " id="validationDefault01" placeholder="Harga Jual">
      </div>
      <div class="form-group">
        <label for="validationDefault01">Satuan Penjualan</label>
        <input type="text" class="form-control " id="validationDefault01" placeholder="Satuan Penjualan">
      </div>
      <div class="form-group">
        <label for="validationDefault01">Stok</label>
        <input type="text" class="form-control " id="validationDefault01" placeholder="Stok">
      </div>

      <button type="button" class="btn btn-primary  btn-am bg-secondary ">Back</button>
  <button type="submit" class="btn btn-primary  btn-am">Submit</button>
  </form>
</div>
{% endblock %}