body {
    background-color:#FFFFFF;
    font-family:  "Poppins";
}

.outer-form{
    border: 0px solid #15759D;
    background: #FFFFFF;
    box-shadow: 3px 3px 8px 4px rgba(0, 0, 0, 0.25);
    margin: 100px auto;
    margin-top: 20px;
    padding: 32px;
    padding-top: 15px;
}

.btn-am{
    background-color: #007bff;
}

.tulisan_login h4{
    text-align: center;
    font-weight: bold;
    padding-bottom: 15px;
}

.form_bg_color{
    background-color: #dc3545;
}

.form-content {
    background: #fbfbfb;
    border: none;
    outline: none;
    padding-top: 14px;
}

img.kanan {
    position: fixed;
    display:block;
    bottom: 0;
    right: 0;
    float:right;
    width: 621.5px;
    height: 550px;
    border: 0;
    z-index: -1;
}

.img-responsive {
    max-width: 100%; 
    display:block; 
    height: auto;
    float: right;
}

.text1{
    font-size: 48px;
    font-weight: bold;
    color: #EB5C44;
}

.orange{
    color: #EB5C44;
} 

.bg-orange{
    background-color: #EB5C44;
    border-color: #EB5C44;
} 

.border-orange{
    border-color: #EB5C44;
} 

.text2{
    font-size: 20px;
}

.text-welcome{
    margin-top:120px;
    margin-left:30px;
}

.btn-login{
    background-color: #EB5C44;
    border-color: #EB5C44;
    transition-duration: 0.4s;
}
.btn-login:hover{
    background-color: #EB5C44;
    border-color: #EB5C44;
}

.btn-register{
    color: #EB5C44;
    border-color: #EB5C44;
    transition-duration: 0.4s;
}

.btn-register:hover{
    background-color: #EB5C44;
    border-color: #EB5C44;
}

.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #EB5C44; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #EB5C44; }
  }
