{% extends "base.html" %}

{% block style_content %}

{% endblock %}

{% block page_content %}

<h1> <center>Form Apotek</center></h1>
<div class="outer-form form-column col-4 ">
    <p class="tulisan_login"><h4><center>Form Create Apotek</center></h4></p>
 
    <form action="/apotek/createapotek/" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <label for="validationDefault01">Nama Apotek</label>
        <input type="text" class="form-control " id="validationDefault02" name="nama-apotek" placeholder="Nama Apotek" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Alamat Apotek</label>
        <input type="text" class="form-control " id="validationDefault02" name="alamat-apotek" placeholder="Alamat Apotek" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Telp Apotek</label>
        <input type="text" class="form-control " id="validationDefault02" name="telepon-apotek" placeholder="Telepon Apotek" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Nama Penyelenggara</label>
        <input type="text" class="form-control " id="validationDefault02" name="nama-penyelenggara" placeholder="Nama Penyelenggara" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">No SIA Penyelenggara</label>
        <input type="text" class="form-control " id="validationDefault02" name="no-sia" placeholder="No SIA" required>
      </div>
      <div class="form-group">
        <label for="validationDefault01">Email Penyelenggara</label>
        <input type="email" class="form-control " id="validationDefault02" name="email-" placeholder="Email" required>
      </div>
      
      <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>

{% endblock %}