{% extends "base.html" %}

{% block style_content %}
<style>
    .tabelmargin{
        padding: 32px;
    }
</style>
{% endblock %}

{% block page_content %}

<h1><center>Daftar Apotek</center></h1>
<div class="tabelmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">ID Apotek</th>
                <th scope="col">Nama Apotek</th>
                <th scope="col">Alamat Apotek</th>
                <th scope="col">No Telp Apotek</th>
                <th scope="col">Nama Penyelenggara</th>
                <th scope="col">No SIA Penyelenggara</th>
                <th scope="col">Email Penyelenggara</th>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <th scope="col">Action [ADMIN]</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for apotek in data_apotek %}
            <tr>
                <td>{{ apotek.id_apotek }}</td>
                <td>{{ apotek.nama_apotek }}</td>
                <td>{{ apotek.alamat_apotek }}</td>
                <td>{{ apotek.telepon_apotek }}</td>
                <td>{{ apotek.nama_penyelenggara }}</td>
                <td>{{ apotek.no_sia }}</td>
                <td>{{ apotek.email }}</td>
                {% if request.session.role == "ADMIN_APOTEK" %}
                <td>
                    <button class="btn btn-primary btn-am bg-success update" 
                    id-apotek="{{ apotek.id_apotek }}"
                    nama-apotek="{{ apotek.nama_apotek }}"
                    alamat-apotek="{{ apotek.alamat_apotek }}"
                    telepon-apotek="{{ apotek.telepon_apotek }}"
                    nama-penyelenggara="{{ apotek.nama_penyelenggara }}"
                    no-sia="{{ apotek.no_sia }}"
                    email-="{{ apotek.email }}"
                    >Update</button>
                    <div class="modal fade" id="update-apotek" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLongTitle">Form Update Apotek</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" action="/" id="form-update">
                                {% csrf_token %}
                                
                                <div class="form-group">
                                    <label for="disabledTextInput">ID Apotek</label>
                                    <input type="text" class="form-control " id="id-apotek" name="u-id-apotek" disabled>
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault01">Nama Apotek</label>
                                    <input type="text" class="form-control " id="nama-apotek" name="u-nama-apotek" placeholder="Nama Apotek" required>
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault01">Alamat Apotek</label>
                                    <input type="text" class="form-control " id="alamat-apotek" name="u-alamat-apotek" placeholder="Alamat Apotek" required>
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault01">Telp Apotek</label>
                                    <input type="text" class="form-control " id="telepon-apotek" name="u-telepon-apotek" placeholder="Telepon Apotek" required>
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault01">Nama Penyelenggara</label>
                                    <input type="text" class="form-control " id="nama-penyelenggara" name="u-nama-penyelenggara" placeholder="Nama Penyelenggara" required>
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault01">No SIA Penyelenggara</label>
                                    <input type="text" class="form-control " id="no-sia" name="u-no-sia" placeholder="No SIA" required>
                                </div>
                                <div class="form-group">
                                    <label for="validationDefault01">Email Penyelenggara</label>
                                    <input type="email" class="form-control " id="email-" name="u-email" placeholder="Email" required>
                                </div>

                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    
                                    <button type="submit" class="btn bg-success btn-primary ">Submit</button>
                                    
                                  </div>
                                </form>
                            </div>
                          </div>
                        </div>
                    </div>
                    <a href="/apotek/deleteapotek/{{ apotek.id_apotek }}">
                        <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
{% block script_content %}

<script>
    $('.update').click(function(){
      $('#update-apotek').modal();
    var idapotek = $(this).attr('id_apotek')
    var namaapotek = $(this).attr('nama_apotek')
    var notelp = $(this).attr('telepon_apotek')
    var namapeny = $(this).attr('nama_penyelenggara')
    var nosia = $(this).attr('no_sia')
    var emailpeny = $(this).attr('email')
    
    $('#form-update').attr('action', '/apotek/updateapotek/'+idapotek)
    $('#id_apotek').val(idapotek)
    $('#nama_apotek').val(namaapotek)
    $('#telepon_apotek').val(notelp)
    $('#nama_penyelenggara').val(namapeny)
    $('#no_sia').val(nosia)
    $('#email').val(emailpeny)
    })

  </script>

{% endblock %}