{% extends "base.html" %}

{% block style_content %}
<style>
    body{
        background-color: #dc3545;
    }
</style>
{% endblock %}

{% block page_content %}
<h1 class="text-white"> <center> Form Apotek </center></h1>

<div class="outer-form form-column col-4 ">
  <p class="tulisan_login"><h4><center>Update Apotek</center></h4></p>
<form>
  <div class="form-group">
    <label for="disabledTextInput">ID Apotek</label>
    <input type="text" class="form-control " id="disabledTextInput" placeholder="1" disabled>
  </div>
  <div class="form-group">
    <label for="disabledTextInput">Nama Apotek</label>
    <input type="text" class="form-control " id="disabledTextInput" placeholder="Nama Apotek">
  </div>
  <div class="form-group">
    <label for="validationDefault03">Alamat Apotek</label>
    <input type="text" class="form-control " id="validationDefault03" placeholder="Alamat Apotek">
  </div>
  <div class="form-group">
      <label for="validationDefault04">Telp Apotek</label>
      <input type="text" class="form-control " id="validationDefault04" placeholder="Telp Apotek">
  </div>
  <div class="form-group">
      <label for="validationDefault05">Nama Penyelenggara</label>
      <input type="text" class="form-control " id="validationDefault05" placeholder="Nama Penyelenggara">
  </div>
  <div class="form-group">
      <label for="validationDefault05">No SIA Penyelenggara</label>
      <input type="text" class="form-control " id="validationDefault05" placeholder="No SIA Penyelenggara">
  </div>
  <div class="form-group">
      <label for="validationDefault05">Email Penyelenggara</label>
      <input type="email" class="form-control " id="validationDefault05" placeholder="Email Penyelenggara">
  </div>

  <button type="button" class="btn btn-primary  btn-am bg-secondary ">Back</button>
  <button type="submit" class="btn btn-primary  btn-am">Submit</button>
  </form>
</div>

{% endblock %}