{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;"  class=" outer-form container">
        <h2><center>Selamat datang, {{ data_profil.nama_lengkap }} sebagai Kurir</center></h2>
        <div style="margin-top: 15px; " class="container">
            <p>Nama Lengkap: {{ data_profil.nama_lengkap }}</p>
            <p>No Telepon: {{ data_profil.telepon }} </p>
            <p>Email: {{ data_profil.email }}</p>
            <p>Nama perusahan: {{ data_profil.nama_perusahaan }}</p>
        </div>
    </div>
</body>
{% endblock %}