{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2><center>Selamat datang, {{ data_profil.1 }} sebagai Admin Apotek</center></h2>
        <div style="margin-top: 15px;" class="container">
            <p>Nama Lengkap: {{ data_profil.1 }}</p>
            <p>No Telepon: {{ data_profil.3 }} </p>
            <p>Email: {{ data_profil.0}}</p>
        </div>
    </div>
</body>
{% endblock %}
