{% extends "base.html" %}

{% block page_content %}

<body>
    <div style="margin-top: 40px;" class="outer-form container">
        <h2><center>Selamat datang,{{ data_profil.nama_lengkap }} sebagai Konsumen </center></h2>
        <div class="container">
            <div style="margin-top: 15px; " class="container">
                <p>Nama Lengkap: {{ data_profil.nama_lengkap }}</p>
                <p>No Telepon: {{ data_profil.telepon }} </p>
                <p>Email: {{ data_profil.email }}</p>
                <p>Jenis Kelamin: {{ data_profil.jenis_kelamin }}</p>
                <p>Tanggal lahir: {{ data_profil.tanggal_lahir}}</p>
                <p>Alamat:  </p>
                <div class= "row">
                    <div class="col-sm">
                        <!-- {% for s in data_profil.status %}
                        <div col= row-sm>{{ s }}</div>
                        {% endfor %} -->
                        <table  class = "table text-left">
                            {% for s in data_profil.status %}
                            <tr>
                                <td>{{ s }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-sm">
                        <!-- {% for a in data_profil.alamat %}
                        <div col= row-sm>{{ a }}</div>
                        {% endfor %} -->
                        <table class = "table text-left">
                            {% for a in data_profil.alamat %}
                            <tr>
                                <td>{{ a }}</td>
                            </tr>
                            {% endfor %}
                           
                        </table>
                    </div>
                </div>
                <row>
                
                <!-- <table class= "col-6">
                    {% for a in data_profil.alamat %}
                    <tr>
                        <td>{{ a }}</td>
                    </tr>
                    {% endfor %}
                   
                </table>
                </row> -->
                        <!-- <td> C</td>
                        <td> D</td>
                    </tr> -->
                <!-- <td>
                    {% for s in data_profil.status %}
                    <tr></tr>
                    {% endfor %}
                </td>
                <td>
                    {% for a in data_profil.alamat %}
                    <tr>{{ a }}</tr>
                    {% endfor %}
                </td> -->
              

                <!-- <p>[Alamat rumah] Jl.Cirendeu Raya, Lebak Bulus, Jakarta Selatan, DKI Jakarta</p>
                <p>[Alamat kantor] Jl. Gunung Sahari XI No. 24 RT 3/3, Jakarta Pusat</p> -->
            </div>
          </div>
    </div>
</body>
{% endblock %}