{% extends "base.html" %}

{% block page_content %}

<h1><center>Buat List Pengantaran Farmasi</center></h2>
    <div class="outer-form form-column col-4 ">
      <p class="tulisan_login"><h4><center>Form Buat List Produk Dibeli</center></h4></p>
   
      <form >
        <div class="form-group">
          <label for="validationDefault05">ID Produk</label>
          <div class="form-group" id="idproduk">
            <select class="form-control dropdown-id">
                <option>Pilih...</option>
                <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="validationDefault01">Waktu</label>
          <input type="date" id="day" name="day">
        </div>
        <div class="form-group">
            <label for="validationDefault01">Biaya Kirim</label>
            <input type="text" class="form-control " id="validationDefault01" placeholder="Biaya Kirim">
          </div>
  
        <button type="submit" class="btn btn-primary  btn-am">Submit</button>
       
    </form>
  </div>

{% endblock %}