{% extends "base.html" %}

{% block page_content %}

<h2><center>Daftar Pengantaran Farmasi</center></h2>
<div class="tabelmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">ID Pengantaran</th>
                <th scope="col">ID Kurir</th>
                <th scope="col">ID Transaksi</th>
                <th scope="col">Waktu</th>
                <th scope="col">Status</th>
                <th scope="col">Biaya Kirim</th>
                <th scope="col">Total Biaya</th>
                <th scope="col">Action [ADMIN]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1d</th>
                <td>1b</td>
                <td>12b</td>
                <td>17 April 2020 17:20:20 </td>
                <td>Done</td>
                <td>10000</td>
                <td>20000</td>
                <td>
                    <!-- <a href="{% url 'produkapotek:update-produkapotek' %}" class="btn btn-success" role="button">Update </a> -->
                    <a href="{% url 'pengantaranfarmasi:update-pf' %}" class="btn btn-info" role="button">Update</a>
                    <!-- <a href="#" class="btn btn-danger" role="button">Delete</a> -->
                    <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">1das</th>
                <td>1asa</td>
                <td>12baa</td>
                <td>17 April 2020 17:20:20 </td>
                <td>Done</td>
                <td>15500</td>
                <td>20000</td>
                <td>
                    <!-- <a href="{% url 'produkapotek:update-produkapotek' %}" class="btn btn-success" role="button">Update </a> -->
                    <a href="{% url 'pengantaranfarmasi:update-pf' %}" class="btn btn-info" role="button">Update</a>
                    <!-- <a href="#" class="btn btn-danger" role="button">Delete</a> -->
                    <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}