{% extends "base.html" %}

{% block page_content %}

<div class=" outer-form container">
    <h2><center>FORM UPDATE Pengantaran Farmasi</center></h2>

<form action="" class=" align-items-center">
    <div class="form-group row">
        <label for="idkonsumen" class="col-sm-4 col-form-label">ID Pengantaran</label>
        <div class="col-sm-4">
        <input value ="1" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="idkonsumen" class="col-sm-4 col-form-label">ID Kurir</label>
            <div class="col-sm-4">
                <select id="idkonsumen" class="form-control">
                    <option selected>Pilih</option>
                    <option>9</option>
                    <option>kd01</option>
                    <option>kd02</option>
                    <option>...</option>
                </select>
            </div>
    </div>
    <div class="form-group row">
        <label for="idkonsumen" class="col-sm-4 col-form-label">ID Transaksi</label>
            <div class="col-sm-4">
                <select id="idkonsumen" class="form-control">
                    <option selected>Pilih</option>
                    <option>9</option>
                    <option>kd01</option>
                    <option>kd02</option>
                    <option>...</option>
                </select>
            </div>
    </div>
    <div class="form-group row">
        <label for="waktupemmbelian" class="col-sm-4 col-form-label">Waktu</label>
        <div class="col-sm-4">
        <input value="17 April 2020 17:20:20" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="totalpembayaran" class="col-sm-4 col-form-label">Biaya Kirim</label>
        <div class="col-sm-4">
        <input value ="10000" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="totalpembayaran" class="col-sm-4 col-form-label">Total Biaya</label>
        <div class="col-sm-4">
        <input value ="200000" disabled>
        </div>
    </div>
    <div class="col-md text-center">
        <input action="POST" type="submit" value= "Update" class="btn btn-success">
    </div>
</form>
</div>

{% endblock %}