<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="{% static 'farmakamiiconnew.png' %}">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title> Farma Kami 34</title>
        {% block style_content %}

        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-white text-danger">
                <a class="navbar-brand" href="{% url 'homepage:myhomepage' %}">
                    <img style="width:150px;height:50px;margin-left: 20px;" src="{% static 'farmakamilogonew.png' %}">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse justify-content-end collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    
                    
                    <li class="nav-item">
                      <a class="nav-link text-danger" href="{% url 'users:mylogin' %}">Login</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-danger" href="{% url 'users:myregister' %}">Register</a>
                    </li>
                    <!--
                    <li class="nav-item active">
                      <a class="nav-link text-danger" href="{% url 'homepage:myhomepage' %}">Home <span class="sr-only">(current)</span></a>
                    </li>-->
                    <li class="nav-item">
                      <a class="nav-link text-danger" href="{% url 'profilpengguna:profil' %}">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Balai Pengobatan dan Apotek
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.role == "ADMIN_APOTEK" %}
                        <a class="dropdown-item" href="{% url 'balaipengobatan:myformbuatbp' %}">Buat Balai Pengobatan</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'balaipengobatan:mydaftarbp' %}">Daftar Balai Pengobatan</a>
                        {% if request.session.role == "ADMIN_APOTEK" %}
                        <a class="dropdown-item" href="{% url 'apotek:myformcreateapotek' %}">Buat Apotek</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'apotek:mylistapotek' %}">Daftar Apotek</a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Produk Apotek
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.role == "ADMIN_APOTEK" %}
                        <a class="dropdown-item" href="{% url 'produkapotek:myformcreatepa' %}">Buat Produk Apotek</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'produkapotek:mylistpa' %}">Daftar Produk Apotek</a>
                        <a class="dropdown-item" href="{% url 'obat:myformbuatobat' %}">Buat Obat</a>
                        <a class="dropdown-item" href="{% url 'obat:mydaftarobat' %}">Daftar Obat</a>
                        <a class="dropdown-item" href="#">Buat Alat Medis</a>
                        <a class="dropdown-item" href="#">Daftar Alat Medis</a>
                      </div>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Daftar Transaksi
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'transaksipembelian:daftar-transaksipembelian' %}">Daftar Transaksi Pembelian</a>
                        <a class="dropdown-item" href="{% url 'listprodukdibeli:create-listpd' %}">Buat List Produk Dibeli</a>
                        <a class="dropdown-item" href="{% url 'listprodukdibeli:daftar-listpd' %}">Daftar List Produk Dibeli</a>
                      </a>
                      </div>
                    </li>

                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle text-danger" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       Pengantaran Farmasi
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% if request.session.role == "ADMIN_APOTEK" %}
                        <a class="dropdown-item" href="{% url 'pengantaranfarmasi:create-pf' %}">Buat Pengantaran Farmasi</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'pengantaranfarmasi:daftar-pf' %}">Daftar Pengantaran Farmasi</a>
                      </a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link text-danger" href="{% url 'users:logout' %}">Logout</a>
                    </li>
                   
                    {% block navbar_content %}

                    {% endblock %}
                    <!-- Untuk dropdown 
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    -->
                  </ul>
                </div>
              </nav>
        </header>
        {% block page_content %}

        {% endblock %}
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% block script_content %}

        {% endblock %}
    </body>
</html>
