
{% extends "base.html" %}
{% load static %}
{% block page_content %}
<!--
<h1> <center> Welcome to Farma Kami 34 </center></h1>
<center><img src="{% static 'farmakamilogo.jpg' %}"></center>
-->

<div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center align-items-left flex-column text-welcome">
  <div class="welcome1">
      <h2 class="mb-3 text1">Welcome to <br>Farma Kami 34</h2>
  </div>
  <div class="welcome2 mb-3 text2 typewriter">
      <p>We serve the best for you and keep you to <span class ="orange"><strong>#StayAtHome </strong></span></p>
  </div>
  <!-- <div class="cta-but d-flex flex-row">
      <button class="btn btn-primary mr-2 my-2 my-sm-0 rounded-lg btn-login" href="{% url 'users:mylogin' %}" type="submit">Login</button>
      <button class="btn btn-outline-primary my-2 my-sm-0 rounded-lg btn-register" href="{% url 'users:myregister' %}" type="submit">Register</button>     
  </div> -->
</div>
<!--
<div class="card-deck">
<div class="row mx-auto">
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <p class="card-text ">Login here if you have been registered!</p>
          <a href="{% url 'users:mylogin' %}" class="btn btn-primary bg-warning text-white">Sign in</a>
        </div>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Register</h5>
          <p class="card-text ">Register here if you have not been registered yet!</p>
          <a href="{% url 'users:myregister' %}" class="btn btn-primary bg-danger text-white">Click here to register</a>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="col-lg-6 col-md-6 col-sm-12 d-flex align-items-right flex-column">
<img class="kanan img-responsive" src="{% static 'gambarhomepage.jpg' %}">
</div>

{% endblock %}