{% extends "base.html" %}

{% block style_content %}

{% endblock %}

{% block page_content %}
<h1><center>Buat List Produk Dibeli</center></h2>
    <div class="outer-form form-column col-4 ">
      <p class="tulisan_login"><h4><center>Form Buat List Produk Dibeli</center></h4></p>
   
      <form >
        <div class="form-group">
          <label for="validationDefault05">ID Produk</label>
          <div class="form-group" id="idproduk">
            <select class="form-control dropdown-id">
                <option>Pilih...</option>
                <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="validationDefault05">ID Apotek</label>
          <div class="form-group" id="idapotek">
            <select class="form-control dropdown-id">
                <option>Pilih...</option>
                <option>...</option>
            </select>
          </div>
        </div>
        <div class="form-group">
            <label for="validationDefault05">ID Transaksi</label>
            <div class="form-group" id="idapotek">
              <select class="form-control dropdown-id">
                  <option>Pilih...</option>
                  <option>...</option>
              </select>
            </div>
          </div>
        <div class="form-group">
          <label for="validationDefault01">jumlah</label>
          <input type="text" class="form-control " id="validationDefault01" placeholder="Harga Jual">
        </div>
  
        <button type="submit" class="btn btn-primary  btn-am">Submit</button>
       
    </form>
  </div>

{% endblock %}