{% extends "base.html" %}

{% block page_content %}

<h2><center>Daftar Produk Dibeli</center></h2>
<div class="tabelmargin table-responsive">
    <table class="table justify-content-center">
        <thead class="bg-danger text-white align-items-center">
            <tr>
                <th scope="col">ID Produk</th>
                <th scope="col">ID Apotek</th>
                <th scope="col">ID Transaksi Pembelian</th>
                <th scope="col">Jumlah</th>
                <th scope="col">Action [ADMIN]</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>1</td>
                <td>12</td>
                <td>5</td>
                <td>
                    <!-- <a href="{% url 'produkapotek:update-produkapotek' %}" class="btn btn-success" role="button">Update </a> -->
                    <button type="button" class="btn btn-primary btn-am bg-success" data-toggle="modal" data-target="#exampleModalLong">Update</button>
                    <!-- <a href="#" class="btn btn-danger" role="button">Delete</a> -->
                    <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                </td>
            </tr>
            <tr>
                <th scope="row">PD0003</th>
                <td>AP0004</td>
                <td>12d</td>
                <td>2</td>
                <td>
                    <!-- <a href="{% url 'produkapotek:update-produkapotek' %}" class="btn btn-success" role="button">Update </a> -->
                    <button type="button" class="btn btn-primary btn-am bg-success" data-toggle="modal" data-target="#exampleModalLong">Update</button>
                    <!-- <a href="#" class="btn btn-danger" role="button">Delete</a> -->
                    <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Button trigger modal -->
<!-- Modal -->

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Form Update Produk Dibeli</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="validationDefault05">ID Produk</label>
                    <div class="form-group" id="idproduk">
                      <select class="form-control dropdown-id">
                          <option>Pilih...</option>
                          <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="validationDefault05">ID Apotek</label>
                    <div class="form-group" id="idapotek">
                      <select class="form-control dropdown-id">
                          <option>Pilih...</option>
                          <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="validationDefault05">ID Transaksi Pembelian</label>
                    <div class="form-group" id="idapotek">
                      <select class="form-control dropdown-id">
                          <option>Pilih...</option>
                          <option>...</option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="validationDefault01">Jumlah</label>
                    <input type="text" class="form-control " id="validationDefault01" placeholder="Stok">
                  </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn bg-success btn-primary ">Submit</button>
        </div> 
        </div>
    </div>
</div>

{% endblock %}