{% extends "base.html" %}

{% block style_content %}

{% endblock %}

{% block page_content %}
<h1> <center> Form Obat</center></h1>

<div class="outer-form form-column container col-md-4 ">
    <p class="tulisan_login"><h4><center>Form Create Obat</center></h4></p>
<form method="POST" action="/obat/buatobat/">
    {% csrf_token %}
    <div class="form-group">
        <label for="validationDefault01">ID Merk obat</label>
        <select class="form-control" name="id-merk-obat" required>
            {% for id in data_id_merk_obat %}
            <option> {{ id.id_merk_obat }} </option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <label for="validationDefault02">Netto</label>
        <input type="text" class="form-control " id="validationDefault02" name="netto" placeholder="Netto" required>
    </div>
    <div class="form-group">
        <label for="validationDefault03">Dosis</label>
        <input type="text" class="form-control " id="validationDefault03" name="dosis" placeholder="Dosis" required>
    </div>
    <div class="form-group">
        <label for="validationDefault04">Aturan pakai</label>
        <input type="text" class="form-control " id="validationDefault04" name="aturan-pakai" placeholder="Aturan pakai">
    </div>
    <div class="form-group">
        <label for="validationDefault05">Kontraindikasi</label>
        <input type="text" class="form-control " id="validationDefault05" name="kontraindikasi" placeholder="Kontraindikasi">
    </div>
    <div class="form-group">
        <label for="validationDefault06">Bentuk kesediaan</label>
        <input type="text" class="form-control " id="validationDefault06" name="btk-kesediaan" placeholder="Bentuk kesediaan" required>
    </div>
    <button type="submit" class="btn btn-primary btn-am">Submit</button>
  </form>
</div>
{% endblock %}