{% extends "base.html" %}

{% block style_content %}
<style>
    .tabelmargin{
        padding: 32px;
    }
</style>
{% endblock %}

{% block page_content %}
<h1 > <center> Daftar Obat </center></h1>
<div class="tabelmargin table-responsive ">
<table class="table justify-content-center">
    <thead class="bg-danger text-white align-items-center">
      <tr>
        <th scope="col">ID Obat</th>
        <th scope="col">ID Produk</th>
        <th scope="col">ID Merk Obat</th>
        <th scope="col">Netto</th>
        <th scope="col">Dosis</th>
        <th scope="col">Aturan Pakai</th>
        <th scope="col">Kontraindikasi</th>
        <th scope="col">Bentuk Kesediaan</th>
        {% if request.session.role == "ADMIN_APOTEK"  %}
        <th scope="col">Action</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for obat in data_obat %}
			<tr>
				<td>{{ obat.id_obat }}</td>
				<td>{{ obat.id_produk }}</td>
				<td>{{ obat.id_merk_obat }}</td>
				<td>{{ obat.netto }}</td>
        <td>{{ obat.dosis }}</td>
        <td>{{ obat.aturan_pakai }}</td>
        <td>{{ obat.kontraindikasi }}</td>
        <td>{{ obat.bentuk_kesediaan }}</td>
        {% if request.session.role == "ADMIN_APOTEK" %}
        <td>
          <!--<a href="/obat/editobat/{{ obat.id_obat }}">-->
          <button class="btn btn-primary btn-am bg-success update" 
          id-obat="{{ obat.id_obat }}"
          id-produk="{{ obat.id_produk }}"
          id-merk-obat="{{ obat.id_merk_obat }}"
          netto="{{ obat.netto }}"
          dosis="{{ obat.dosis }}"
          aturan-pakai="{{ obat.aturan_pakai}}"
          kontraindikasi="{{ obat.kontraindikasi}}"
          btk-kesediaan="{{ obat.bentuk_kesediaan }}"
          >Update</button>
          <!--</a>-->
          <div class="modal fade" id="update-obat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Form Update Obat</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/" id="form-update">
                      {% csrf_token %}
                      
                        <div class="form-group">
                            <label for="disabledTextInput">ID obat</label>
                            <input type="text" class="form-control " id="id-obat" name="u-id-obat" disabled>
                        </div>
                        <div class="form-group">
                            <label for="disabledTextInput">ID produk</label>
                            <input type="text" class="form-control " id="id-produk" name="u-id-produk" placeholder="4" disabled>
                        </div>
                        <div class="form-group">
                            <label for="validationDefault01">ID merk obat</label>
                            <select class="form-control" id="id-merk-obat" name="u-id-merk-obat"  required>
                              <option> 4041952909 </option>
                              <option> 9066102337 </option>
                              <option> 1688555511 </option>
                              <option> 8171332675 </option>
                              <option> 2498489353 </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="validationDefault02">Netto</label>
                            <input type="text" class="form-control " id="netto" name="u-netto" placeholder="Netto" required>
                        </div>
                        <div class="form-group">
                            <label for="validationDefault03">Dosis</label>
                            <input type="text" class="form-control " id="dosis" name="u-dosis"  placeholder="Dosis" required>
                        </div>
                        <div class="form-group">
                            <label for="validationDefault04">Aturan pakai</label>
                            <input type="text" class="form-control " id="aturan-pakai" name="u-aturan-pakai" placeholder="Aturan pakai">
                        </div>
                        <div class="form-group">
                            <label for="validationDefault05">Kontraindikasi</label>
                            <input type="text" class="form-control " id="kontraindikasi" name="u-kontraindikasi"  placeholder="Kontraindikasi">
                        </div>
                        <div class="form-group">
                            <label for="validationDefault05">Bentuk kesediaan</label>
                            <input type="text" class="form-control " id="btk-kesediaan" name="u-btk-kesediaan"  placeholder="Bentuk kesediaan" required>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                          <button type="submit" class="btn bg-success btn-primary ">Submit</button>
                          
                        </div>
                         
                      </form>
                </div>
              </div>
            </div>
          </div>
          <a href="/obat/deleteobat/{{ obat.id_produk }}">
          <button type="button" class="btn btn-primary btn-am bg-danger">Delete</button>
          </a>
      </td>
      {% endif %}
			</tr>
    {% endfor %}  
   
    </tbody>
  </table>
</div>
 
  {% endblock %}
  {% block script_content %}

  
  <script>
    $('.update').click(function(){
      $('#update-obat').modal();
    var idobat = $(this).attr('id-obat')
    var idproduk = $(this).attr('id-produk')
    var idmerko = $(this).attr('id-merk-obat')
    var netto = $(this).attr('netto')
    var dosis = $(this).attr('dosis')
    var atpak = $(this).attr('aturan-pakai')
    var kontra = $(this).attr('kontraindikasi')
    var btkkes = $(this).attr('btk-kesediaan')
    
    $('#form-update').attr('action', '/obat/updateobat/'+idobat)
    $('#id-obat').val(idobat)
    $('#id-produk').val(idproduk)
    $('#id-merk-obat').val(idmerko)
    $('#netto').val(netto)
    $('#dosis').val(dosis)
    $('#aturan-pakai').val(atpak)
    $('#kontraindikasi').val(kontra)
    $('#btk-kesediaan').val(btkkes)
    })

  </script>
  {% endblock %}
