{% extends "base.html" %}

{% block style_content %}
<style>
    body{
        background-color: #dc3545;
    }
</style>
{% endblock %}

{% block page_content %}
<h1 class="text-white"> <center> Obat Form </center></h1>

<div class="outer-form form-column col-4 ">
    <p class="tulisan_login"><h4><center>Update Obat</center></h4></p>
<form>
    <div class="form-group">
        <label for="disabledTextInput">ID obat</label>
        <input type="text" class="form-control " id="disabledTextInput" placeholder="1" disabled>
    </div>
    <div class="form-group">
        <label for="disabledTextInput">ID produk</label>
        <input type="text" class="form-control " id="disabledTextInput" placeholder="4" disabled>
    </div>
    <div class="form-group">
        <label for="validationDefault01">ID merk obat</label>
        <select class="form-control">
            <option>3</option>
            <option>ID Merk Obat 2</option>
            <option>ID Merk Obat 3</option>
        </select>
    </div>
    <div class="form-group">
        <label for="validationDefault02">Netto</label>
        <input type="text" class="form-control " id="validationDefault02" placeholder="Netto">
    </div>
    <div class="form-group">
        <label for="validationDefault03">Dosis</label>
        <input type="text" class="form-control " id="validationDefault03" placeholder="Dosis">
    </div>
    <div class="form-group">
        <label for="validationDefault04">Aturan pakai</label>
        <input type="text" class="form-control " id="validationDefault04" placeholder="Aturan pakai">
    </div>
    <div class="form-group">
        <label for="validationDefault05">Kontraindikasi</label>
        <input type="text" class="form-control " id="validationDefault05" placeholder="Kontraindikasi">
    </div>
    <div class="form-group">
        <label for="validationDefault05">Bentuk kesediaan</label>
        <input type="text" class="form-control " id="validationDefault05" placeholder="Bentuk kesediaan">
    </div>

    <button type="button" class="btn btn-primary  btn-am bg-secondary ">Back</button>
    <button type="submit" class="btn btn-primary  btn-am">Submit</button>

  </form>
</div>
{% endblock %}